@model IEnumerable<AMS.Models.Contact_us>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger" id="popup">
        @TempData["DeleteMessage"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
<h1>User Feedbacks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Contact
            </th>
            <th>
                Email
            </th>
            <th>
                Subject
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Contact_ID" asp-route-User_ID="@ViewBag.Data.User_ID" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Contact_ID" asp-route-User_ID="@ViewBag.Data.User_ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
