@{
    string Role;
    if (ViewBag.Data == null)
    {
        Role = "Default";
    }
    else
    {
        Role = ViewBag.Data.Role;
    }
}

@if (Role == "Admin")
{
    int User_ID = ViewBag.Data.User_ID;
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AMS</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/AMS.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" asp-route-User_ID="@User_ID">AMS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Add_Flight" asp-action="Create" asp-route-User_ID="@User_ID">Add Flight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Add_Flight" asp-action="Index" asp-route-User_ID="@User_ID">View Flights</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Add_Car" asp-action="Create" asp-route-User_ID="@User_ID">Add Car</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Add_Car" asp-action="Index" asp-route-User_ID="@User_ID">View Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index" asp-route-User_ID="@User_ID">View Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contact_us" asp-action="Index" asp-route-User_ID="@User_ID">View Feedbacks</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Edit" asp-route-id="@User_ID" class="nav-link text-dark">Welcome @ViewBag.Data.First_Name @ViewBag.Data.Last_Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-danger" asp-area="" asp-controller="Users" asp-action="Layout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
}
else if (Role == "User")
{
    int User_ID = ViewBag.Data.User_ID;
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AMS</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/AMS.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" asp-route-User_ID="@User_ID">AMS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Add_Flight" asp-action="Search" asp-route-User_ID="@User_ID">Search & Book Flight</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Bookings</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Flight" asp-action="Index" asp-route-User_ID="@User_ID">View Bookings</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Flight" asp-action="Bookings_01" asp-route-User_ID="@User_ID">Manage Luggage & Equipment</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Flight" asp-action="Bookings_02" asp-route-User_ID="@User_ID">Manage Special Needs</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Flight" asp-action="Bookings_03" asp-route-User_ID="@User_ID">Manage Booking</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Flight" asp-action="Bookings_04" asp-route-User_ID="@User_ID">Manage Upgrades</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ground Transportation</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Car" asp-action="Cars" asp-route-User_ID="@User_ID">Book a Ride</a></li>
                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Book_Car" asp-action="Index" asp-route-User_ID="@User_ID">View Bookings</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contact_us" asp-action="CreateNFA" asp-route-User_ID="@User_ID">Contact us</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@User_ID" class="nav-link text-dark">Welcome @ViewBag.Data.First_Name @ViewBag.Data.Last_Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-danger" asp-area="" asp-controller="Users" asp-action="Layout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
}
else if (Role == "Default")
{
    int User_ID = 0;
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AMS</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/AMS.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" asp-route-User_ID="@User_ID">AMS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-primary" style="border: 2px solid blue; border-radius: 15px;" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item" style="margin-left:5px;">
                                <a class="nav-link text-dark btn btn-danger" style="border: 2px solid red; border-radius: 15px;" asp-area="" asp-controller="Users" asp-action="Signup">Signup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
}
